<!--BEGIN PAGE WRAPPER-->
<div id="page-wrapper" style="<%= 'margin: 0' if !user_signed_in? %>">
<!--BEGIN CONTENT-->
<div class="page-content">

<%= render 'form' %>

<%= link_to 'Back', occasions_path %>

</div>
</div>
